.forgot-password {
    display: grid;
    grid-row: content-s/content-e;
    grid-column: s/e;

    &__password {
        grid-row: password-s/password-e;
    }

    &__submit-password {
        grid-row: submit-password-s/submit-password-e;
    }
}