.forgot-password {
    display: grid;
    grid-row: s/e;
    grid-column: s/e;

    grid-template-columns: [s] 1fr [input-s] [input-e] 1fr [e];
    grid-template-rows: [s] 1fr [password-s] 1fr [password-e submitpassword-s] 1fr [submitpassword-e] 1fr [e];

    &__password {
        grid-column: input-s/input-e;
        grid-row: password-s/password-e;
    }

    &__submit-password {
        grid-column: input-s/input-e;
        grid-row: submitpassword-s/submitpassword-e;
    }
}