.sign-in {
    grid-row: s/e;
    grid-column: s/e;
}

.sign-in-form {
    display: grid;
    grid-template-columns: [s] 1fr [input-s] [input-e] 1fr [e];
    grid-template-rows: [s title-s] 1fr [title-e email-s] 1fr [email-e password-s] 1fr [password-e login-s] 1fr [login-e forgotsomething-s] 1fr [forgotsomething-e];
    justify-items: center;

    &__title {
        width: 100%;
        grid-column: s/e;
        grid-row: title-s/title-e;
    }

    &__email {
        grid-column: input-s/input-e;
        grid-row: email-s/email-e;
    }
    &__password {
        grid-column: input-s/input-e;
        grid-row: password-s/password-e;
    }
    &__login {
        grid-column: input-s/input-e;
        grid-row: login-s/login-e;
    }
    &__forgot-something {
        grid-column: input-s/input-e;
        grid-row: forgotsomething-s/forgotsomething-e;
    }

    &__email,
    &__password {
        transform: translateY(-70px);
    }
}