.sign-up {
    grid-row: content-s/content-e;
    grid-column: s/e;

    &__form {
        display: grid;
        grid-template-rows: [email-s] 84px [email-e password-s] 84px [password-e] [create-account-s] 32px [create-account-e];
        grid-template-columns: 1fr;
    }
}

.sign-up-form {
    & > * {
        grid-column: 1/-1;
    }
    &__email {
        grid-row: email-s/email-e;
    }
    &__password {
        margin-top: 20px;
        grid-row: password-s/password-e;
    }
    &__create-account {
        margin-top: 48px;
        grid-row: create-account-s/create-account-e;
    }
}