.sign-in {
    grid-row: content-s/content-e;
    grid-column: s/e;

    &__form {
        display: grid;
        grid-template-rows: [email-s] 56px [email-e password-s] 56px [password-e login-s] 35px [login-e];
        grid-template-columns: 1fr;
    }
}

.sign-in-form {
    &__email {
        grid-row: e-mail-s/email-e;
    }

    &__password {
        grid-row: password-s/password-e;
    }

    &__login {
        grid-row: login-s/login-e;
    }
    &__forgot-something {
        grid-row: 1/-1;
        justify-self: end;
        align-self: start;
    }
}