.sign-up {
    grid-row: s/e;
    grid-column: s/e;
}

.sign-up-form {
    display: grid;
    grid-template-columns: [s] 1fr [input-s] [input-e] 1fr [e];
    grid-template-rows: [s title-s] 1fr [title-e name-s] 1fr [name-e email-s] 1fr [email-e password-s] 1fr [password-e createaccount-s] 1fr [createaccount-e forgotsomething-s] 1fr [forgotsomething-e];
    justify-items: center;
    
    &__title {
        width: 100%;
        grid-column: s/e;
        grid-row: title-s/title-e;
    }
    &__name {
        grid-column: input-s/input-e;
        grid-row: name-s/name-e;
    }
    &__email
    {
        grid-column: input-s/input-e;
        grid-row: email-s/email-e;
    }

    &__password {
        grid-column: input-s/input-e;
        grid-row: password-s/password-e;
    }
    &__create-account {
        grid-column: input-s/input-e;
        grid-row: createaccount-s/createaccount-e;
    }
    &__forgot-something {
        grid-column: input-s/input-e;
    }
    &__name,
    &__email,
    &__password
    {
        transform: translateY(-70px);
    }
}