.new-blog-form {
    display: grid;
    grid-template-columns: [s input-s] 950px [input-e] 1fr [e];


    &__title {
        width: 100%;
    }

    &__blog-title,
    &__body {
        grid-column: input-s/input-e;
    }

    &__body {
        grid-row: 3;
    }

    &__submit,
    &__cancel {
        grid-column: 1/-1;
        grid-row: 1;
        justify-self: end;
        align-self: end;
    }

    &__cancel {
        transform: translateX(-175px);
    }
}