.forgot-something {
    display: grid;

    &__title {
        font-size: 20px;
        font-weight: 600;
    }

    &__links {
        font-size: 18px;
        display: grid;
        & > * {
            text-decoration-line: none;
        }
    }
}