.forgot-something {
    &__title {
        font-size: 20px;
        font-weight: 600;
        display: grid;
    }

    &__links {
        font-size: 18px;
        display: grid;
        .forgot-something__item {
            text-decoration-line: none;
        }
    }
}