.form-input {
    display: grid;

    & > * {
        padding-left: 15px;
    }

    &__label {
        font-size: 16px;
    }

    &__input {
        box-sizing: border-box;
        height: 32px;
        width: 400px;
        font-size: 20px;
    }
}

.form-button {
    &__button {
        height: 30px;
        width: 220px;

        font-size: 18px;
    }
}