.form-input {
    display: grid;

    & > * {
        padding-left: 15px;
    }

    &__label {
        font-size: 16px;
    }

    &__input {
        height: 32px;
        width: 400px;
        color: blue;
    }
}

.form-button {
    &__button {
        height: 30px;
        width: 220px;
    }
}