html {
    font-size: 62.5%;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: "Ubuntu", "sans-serif";
}

@import 'layout';
@import 'header';
@import 'bar';
@import 'auth/signin';
@import 'auth/signup';

@import 'blog-title';
@import 'form-fields';
@import 'forgot-something';

@import 'forgot-email';
@import 'forgot-password';