html {
    font-size: 62.5%; // 1rem is 10px
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: 'Ubuntu', 'sans-serif';
    margin-top: 2rem;
    display: grid;
    justify-items: center;
    color: blue;
}

// MAIN
@import 'layout';
@import 'header';

// AUTH
@import 'auth/sign-in';
@import 'auth/sign-in';

// BLOG
@import 'blog-title';
@import 'blog/new-blog';
@import 'blog/new-blog-form';
@import 'blog/archive-blog';
@import 'blog/latest-blog';

// HELPERS
@import 'form-title';
@import 'form-fields';
@import 'forgot-something';

// FORGOT
@import 'auth/forgot-email';
@import 'auth/forgot-password';