html {
    font-size: 62.5%; // 1rem is 10px
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: 'Ubuntu', 'sans-serif';
// .app {
//     margin-top: 2rem;
//     display: grid;
//     justify-items: center;
}

// MAIN
@import 'layout';
@import 'header';
@import 'bar';

// AUTH
@import 'auth/sign-in';
@import 'auth/sign-in';

// BLOG
@import 'blog-title';
@import 'new-blog';
// @import 'blog';

// 
@import 'form-fields';
@import 'forgot-something';

// FORGOT
@import 'auth/forgot-email';
@import 'auth/forgot-password';